.video-download-button {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.video-download-button a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 14px;
    line-height: 14px;
    float: left;
    border-radius: 3px;
    background-color: #FFF;
    padding: 15px;
    color: #646464;
}

.video-download-button a:hover, a:focus {
    background-color: #009FE6;
    color: #FFF;
}

.lm-header-title {
    line-height: 0;
    min-height: 50PX;
    margin-top: 40px;
}

.lm-header-display-name {
    float: left;
    font-size: 20px;
    color: #7f7f7f;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lm-header-dev-info {
    width: 26%;
    float: right;
}

.lm-header-dev-logo {
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: #ddd;
    font-size: 1.2rem;
}

