<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_display_name">视频名称</label>
                <input class="input setting-input" id="videojs_edit_display_name" value="{{ display_name }}"
                       type="text">
            </div>
            <span class="tip setting-help">这个名称将显示在导航栏上作为视频的标题。<span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_url">视频 URL</label>
                <input class="input setting-input" id="videojs_edit_url" value="{{ url }}" type="text">
            </div>
            <span class="tip setting-help">您的视频链接。</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_allow_download">能否下载本视频</label>
                <select class="input setting-input" id="videojs_edit_allow_download">
                    <option value="True" {% if allow_download %}selected{% endif %}>是</option>
                    <option value="False" {% if not allow_download %}selected{% endif %}>否</option>
                </select>
            </div>
            <span class="tip setting-help">是否允许学生下载视频。</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_source_text">资料文件标题</label>
                <input class="input setting-input" id="videojs_edit_source_text" value="{{ source_text }}" type="text"
                       placeholder="默认标题：下载资料文件">
            </div>
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_source_url">资料文件下载 URL</label>
                <input class="input setting-input" id="videojs_edit_source_url" value="{{ source_url }}" type="text">
            </div>
            <span class="tip setting-help">添加一个课件文件下载地址，例如本课程的PPT或者PDF。</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_start_time">视频开始时间</label>
                <input class="input setting-input" id="videojs_edit_start_time" value="{{ start_time }}" type="text">
            </div>
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_end_time">视频结束时间</label>
                <input class="input setting-input" id="videojs_edit_end_time" value="{{ end_time }}" type="text">
            </div>
            <span class="tip setting-help">视频的起止时间，您也可以将 'video.mp4#t=startTime,endTime' 写在视频 URL中。</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_sub_title">字幕</label>
                <input class="input setting-input" id="videojs_sub_title" value="{{ sub_title }}" type="text">
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:$('input[name=file]').click()"
                                           class="button upload-button new-button"><i
                    class="icon fa fa-plus"></i>上传新字幕</a>
                <img src="/xblock/resource/videojs/public/img/loading.gif" id="loading-upload"
                     style="margin: 0px 0 -2px 10px;display: none;">
            </div>
            <span class="tip setting-help">字幕链接</span>
            <span id="upload-msg" style="font-size: 15px;color: rgb(92,193,20);display: none;margin-left:10%">上传成功</span>
            <span id="upload-fail"
                  style="font-size: 15px;color: rgb(234, 9, 44);display: none;margin-left:10%">上传失败</span>
             <span id="error-file"
                  style="font-size: 15px;color: rgb(234, 9, 44);display: none;margin-left:10%">请确认您上传的是 .vtt 文件<span>
            <!--<div id="upload-self" style="margin-left: 30%; margin-top: -17px; display: none;">-->
            <!--<h1 class="title">上传新文件</h1>-->
            <!--<h2>单个文件的最大大小为：10MB</h2>-->
            <!--<p class="file-name"></p>-->
            <!--<div class="progress-bar" style="display: none;">-->
            <!--<div class="progress-fill" style="width: 0%;">0%</div>-->
            <!--</div>-->
            <!--<div class="embeddable" style="display: none;">-->
            <!--<label>URL:</label>-->
            <!--<input type="text" class="embeddable-xml-input" value="" readonly="">-->
            <!--</div>-->
            <form class="file-chooser" id="file-chooser" action="#" method="post" style="display: none"
                  enctype="multipart/form-data">
                <a href="#" class="choose-file-button">Select files</a>
                <input type="file" class="file-input" name="file" multiple="">
            </form>
            <!--</div>-->
        </li>

    </ul>
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">保存</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">退出</a>
            </li>
        </ul>
    </div>
</div>
